/* container for the journey section, holding the cards and the line */
.journey_container {
  width: 75vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

/* to draw the journey line */
.journey_container::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(var(--gray-100)),
    rgb(var(--gray-700))
  );
}

/* Remove all list style in the joourney */
.journey_container ul {
  list-style: none;
}

/* Styling the journey cards */
.journey_card {
  width: 50%;
  height: auto;
  padding: 1rem 1.2rem;
  box-shadow: 0px 0px 3px 1.2px rgb(var(--gray-700));
  background: rgb(var(--gray-100), 0.02);
  border-radius: 0.6rem;
  z-index: 1;
  position: relative;
  transition: 0.25s ease-out;
  cursor: pointer;
}

/* styling for the glowing effect on the cards */
.journey_card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgb(var(--gray-100), 0.1),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  opacity: var(--before_opacity, 0);
  transition: opacity 500ms;
}

/* to shift the journey card to alternate between left and right */
.journey_card:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-2rem);
}

.journey_card:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(2rem);
}

/* Styling the position */
.journey_card h3 {
  font-weight: 500;
  font-size: var(--font-size-2xl);
  color: rgb(var(--gray-100));
}

/* Styling the company name */
.journey_card h4 {
  margin-top: 0.2rem;
  font-weight: 400;
  font-size: var(--font-size-xl);
  color: rgb(var(--gray-400));
}

/* styling the description */
.journey_card p {
  margin-top: 1rem;
  font-weight: 300;
  font-size: var(--font-size-m);
  color: rgb(var(--gray-300));
  line-height: var(--line-height-m);
  padding-bottom: 1rem;
}

/* read more content to hide first when user have not click */
.read_more {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

/* to load the read more when the user clicked on the card to list out more content */
.read_more_more {
  margin: 0.8rem 0;
  display: block;
  opacity: 1;
  height: 3.5rem;
}

/* styling the status read more/read less text*/
.status {
  color: rgb(var(--gray-400));
  font-size: var(--font-size-s);
  font-weight: 300;
  transition: 0.5s ease;
}

/* styling the status hover effect to enlarge the read more/read less text */
.journey_card:hover .status {
  color: rgb(var(--gray-200));
  font-size: var(--font-size-m);
  font-weight: 400;
}

/* styling the date */
.journey_card .date {
  position: absolute;
  top: -40px;
  width: 135px;
  height: 35px;
  border-radius: 2rem;
  color: rgb(var(--gray-200));
  background: linear-gradient(
    331deg,
    rgb(var(--gray-400), 0.5),
    rgb(var(--gray-900))
  );
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* to alternate between left and right for the date */
.journey_card:nth-child(odd) .date {
  right: 20px;
}

/* style the company logo */
.journey_card .company_logo {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

/* make the image with the figure container to be full */
.company_logo img {
  width: 100%;
  height: 100%;
}

/* style the company logo for left and right to align to the center */
.journey_card:nth-child(odd) .company_logo {
  right: -33px;
  transform: translate(50%, -50%);
}

.journey_card:nth-child(even) .company_logo {
  left: -31px;
  transform: translate(-50%, -50%);
}

/* adjust for when tablets */
@media (max-width: 1024px) {
  /* make container take 80% of screen width */
  .journey_container {
    width: 80vw;
    transform: translateX(15px);
  }

  /* move the line to the left */
  .journey_container::after {
    left: -31px;
  }

  /* make the card style take the full width */
  .journey_card {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  /* allow all cards to align to the left instead of alternating */
  .journey_card:nth-child(odd) {
    transform: translateX(0);
    text-align: left;
  }

  /* shift all the date to the left also */
  .journey_card:nth-child(odd) .date {
    left: 20px;
  }

  /* shift the company logo to the left */
  .journey_card:nth-child(odd) .company_logo {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .journey_card:nth-child(even) {
    transform: translateX(0);
  }
}

/* adjust for when using phone */
@media (max-width: 500px) {
  .journey_container {
    width: 70vw;
    transform: translateX(15px);
  }

  .read_more_more {
    height: 6rem;
  }
}

/* adjust for when using phone */
@media (max-width: 400px) {
  .read_more_more {
    height: 9rem;
  }
}
