/* styling description section of button, if the page has it */
.hero_container .description a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 35%;
  height: 55px;
  font-weight: 700;
  font-size: var(--font-size-l);
  background: rgb(var(--gray-800));
  box-shadow: 0px 0px 3px 1.2px rgb(var(--gray-600));
  color: rgb(var(--gray-400));
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

/* styling button if hover or on focus */
.hero_container .description a:hover,
.hero_container .description a:focus {
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-700));
}

/* increase button size for smaller devices */
@media (max-width: 550px) {
  .hero_container .description a {
    font-size: var(--font-size-m);
    width: 45%;
  }
}
