/************** Footer Section **************/

/* Overall footer padding and creating a line at the top */
footer {
  padding: 5rem 7% 0;
  background: rgb(var(--gray-900));
}

/* footer container, creating the line at the top */
.footer-container {
  border-top: 2px solid rgb(var(--gray-400));
  padding: 4rem 3% 6rem;
}

/* Start of the footer design at the start, consist of logo and bottom links */
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* flex container for top and bottom section */
.footer-top-section {
  align-items: flex-start;
  gap: 4rem;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

/* title for nav links in footer at top-right */
.footer-top-links h6 {
  font-weight: 500;
  color: rgb(var(--gray-200));
  font-size: var(--font-size-l);
}

/* Containaer for links in footer top-right */
.footer-top-links nav {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* Links styling in footer top-right */
.footer-top-links nav a {
  font-weight: 400;
  color: rgb(var(--gray-500));
  font-size: var(--font-size-s);
  transition: 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}

/* remove points for footer top-right */
.footer-top-links nav ul {
  list-style-type: none;
}

/* padding for list items in footer top-right */
.footer-top-links nav ul li {
  padding: 0.3rem 0;
}

/* Hover and focus effect for links in top-right */
.footer-top-links nav a:focus,
.footer-top-links nav a:hover {
  color: rgb(var(--gray-100));
}

/* Start of the footer design at the bottom, consist of social media links and other policies */
.footer-bottom {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* remove points for footer bottom-left */
.footer-bottom ul {
  list-style-type: none;
}

/* Container of social media links */
.social-media-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Social media link styling */
.social-media-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 0.15rem solid rgb(var(--gray-200));
  border-radius: 50%;
  color: rgb(var(--gray-200));
  font-size: var(--font-size-3xl);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s ease-in;
}

/* Social media link hover and focus effect */
.social-media-links a:hover,
.social-media-links a:focus {
  color: rgb(var(--gray-900));
  background: rgb(var(--gray-200));
  outline: none;
}

/* Copyright styling */
.footer-bottom-section h6 {
  color: rgb(var(--gray-200));
  font-size: var(--font-size-xs);
  font-weight: 400;
}

/************** Responsiveness **************/

/* Small Tablet Device */
@media (max-width: 768px) {
  .footer-bottom {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}

/* Big Phone Device */
@media (max-width: 600px) {
  .footer-bottom-section {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  .footer-top {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}

/* Small Phone Device */
@media (max-width: 400px) {
  .footer-top {
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-top-section {
    margin: 1rem 0 0;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
}
