/************** Global style **************/
/*
  import the fonts used by the website
  These were downloaded at https://fonts.google.com/
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Variables for background and text */
:root {
  --gray-100: 243, 244, 246;
  --gray-200: 229, 231, 235;
  --gray-300: 209, 213, 219;
  --gray-400: 156, 163, 175;
  --gray-500: 107, 114, 128;
  --gray-600: 75, 85, 99;
  --gray-700: 55, 65, 81;
  --gray-800: 31, 36, 45;
  --gray-900: 24, 24, 30;

  --blue-100: 219, 234, 254;
  --blue-200: 191, 219, 254;
  --blue-300: 147, 197, 253;
  --blue-400: 96, 165, 250;
  --blue-500: 59, 130, 246;
  --blue-600: 37, 99, 235;
  --blue-700: 29, 78, 216;
  --blue-800: 30, 64, 175;
  --blue-900: 30, 58, 138;

  /* Font Styles */
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;

  --line-height-2xs: 0.875rem;
  --line-height-xs: 1rem;
  --line-height-s: 1.25rem;
  --line-height-m: 1.5rem;
  --line-height-l: 1.75rem;
  --line-height-xl: 1.75rem;
  --line-height-2xl: 2rem;
  --line-height-3xl: 2.25rem;
  --line-height-4xl: 2.5rem;

  --font-inter: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* update the root variables for light mode */
.light_theme {
  --gray-1000: 253, 254, 256;
  --gray-900: 243, 244, 246;
  --gray-800: 229, 231, 235;
  --gray-700: 209, 213, 219;
  --gray-600: 156, 163, 175;
  --gray-500: 107, 114, 128;
  --gray-400: 75, 85, 99;
  --gray-300: 55, 65, 81;
  --gray-200: 31, 36, 45;
  --gray-100: 24, 24, 30;
}

/* This does a CSS resets to set default values to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-inter);
}

/* Excess content is hidden to remove horizontal scroll bar */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* set main properties of the article section */
article {
  padding: 1rem 5% 0;
  background: rgb(var(--gray-900));
  height: auto;
}

/* set the main colour of the body background */
body {
  background-color: rgb(var(--gray-900));
}

/* heading for each section */
.section_title {
  padding: 4rem 1rem;
  font-weight: 600;
  color: rgb(var(--gray-200));
  font-size: var(--font-size-6xl);
}

/* for phone and smaller devices */
@media (max-width: 500px) {
  /* heading for each section */
  .section_title {
    font-size: var(--font-size-4xl);
  }
}
