/************** Navigation Bar **************/

/* Design of the navigation bar */
.navbar {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0.8rem 3%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-out;
  z-index: 3;
}

/* Navbar after the webpage is scrolled */
.navbar.sticky {
  background: rgb(var(--gray-800));
}

/* Logo text link removing line below */
.logo {
  text-decoration: none;
  color: rgb(var(--gray-100));
  transition: 0.5s ease;
  text-transform: capitalize;
  font-size: var(--font-size-3xl);
}

/* The other half of the logo in different colour */
.logo span {
  color: rgb(var(--blue-400));
  font-weight: 600;
}

.logo:hover,
.logo:focus {
  color: rgb(var(--gray-400));
}

.logo:hover span,
.logo:focus span {
  color: rgb(var(--blue-600));
}

/* flex container for links on the left */
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Individual links list in navlink container */
.navlinks ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

/* Individual link in links list */
.navlinks ul li a {
  text-decoration: none;
  color: rgb(var(--gray-400));
  transition: 0.25s ease;
  position: relative;
}

/* Individual link in links list hover effect */
.navlinks ul li a:hover,
.navlinks ul li a:focus,
.navlinks ul li a.active {
  color: rgb(var(--gray-100));
}

/* Individual link in links list hover effect for line below */
.navlinks ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(var(--gray-100));
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s ease-out;
}

.navlinks ul li a:hover::after,
.navlinks ul li a:focus::after,
.navlinks ul li a.active::after {
  width: 100%;
}

/* button to change colour theme */
#theme {
  color: rgb(var(--gray-300));
  font-size: var(--font-size-xl);
  padding: 0.5rem;
  border-radius: 50%;
  background: rgb(var(--gray-800));
  cursor: pointer;
  transition: 0.5s ease-in;
}

/* button to change colour theme hover effect */
#theme:hover {
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-600));
}

/* Design and size of the menu bar icon for reponsiveness, currently invisible */
#menu-bar {
  position: relative;
  cursor: pointer;
  display: none;
  color: rgb(var(--gray-100));
  font-size: var(--font-size-3xl);
}

/************** Responsiveness **************/

@media (max-width: 768px) {
  /* menu bar is visible */
  #menu-bar {
    display: block;
  }

  /* links are centered to the middle */
  .navlinks {
    text-align: center;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 0 4%;
    z-index: 1;
    transition: 0.4s ease-out;
    flex-direction: column;
    background: rgb(var(--gray-800));
  }

  /* Change the direction of the container to column */
  .navlinks ul {
    display: flex;
    flex-direction: column;
  }

  .navlinks.active {
    left: 0;
  }

  .navlinks a {
    display: block;
    margin: 1rem 0;
  }
}
